* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(247, 247, 247);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* **************************************************************Nav bar*********************************************************** */
#nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: white;
  position: sticky;
  top: 0px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
#nav-menu h2 {
  background-color: white;
}
#nav-menu > div:nth-child(2) {
  display: flex;
  gap: 30px;
  background-color: white;
}
#nav-menu > div:nth-child(2) > p {
  font-size: 18px;
  background-color: white;
  align-self: center;
  color: rgb(102, 102, 102);
}
.resume {
  font-size: 18px;
  background-color: rgb(186, 155, 112);
  padding: 3px 10px;
  align-self: center;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
  color: rgb(46, 46, 46);
}
.resume i {
  background-color: rgb(186, 155, 112);
}

/* **********************************************************home section******************************************************** */

#home {
  width: 90%;
  height: 85vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#home div {
  align-self: center;
  align-self: center;
}
#image {
  border: 5px solid rgb(186, 155, 112);
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
}

#image img {
  max-height: 20vw;
  min-height: 20vw;
  max-width: 20vw;
  min-width: 20vw;
}

#intro h1 {
  color: rgb(102, 102, 102);
}
#intro h1 img {
  width: 35px;
}

/* ************************************************************About Section****************************************************** */
#about {
  background-color: white;
  color: rgb(102, 102, 102);
  padding: 50px 9%;
  margin: auto;
}
.heading {
  background-color: white;
  padding-bottom: 6px;
  border-bottom: 4px solid rgb(186, 155, 112);
  width: fit-content;
  color: rgb(102, 102, 102);
}
#user_details {
  background-color: white;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
#user-detail-name {
  background-color: white;
}
#user-detail-intro {
  background-color: white;
  margin-top: 10px;
}
/* *****************************************************************skills section************************************************* */
#skills {
  padding: 50px 9%;
  margin: auto;
}
#skillimgs {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
/* ***************************************************************project section *********************************************** */
#projects {
  background-color: white;
  color: rgb(102, 102, 102);
  padding: 50px 9%;
  margin: auto;
}
#displayprojects {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.project-card {
  background-color: white;
  display: flex;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
}
.projectdis {
  background-color: white;
  width: 100%;
  padding: 20px 30px;
}
.project-title {
  margin-bottom: 20px;
  background-color: white;
}
.projectdis p {
  background-color: white;
  margin-bottom: 10px;
}
.projectimg {
  background-color: white;
  max-height: 18vw;
  min-height: 18vw;
  max-width: 28vw;
  min-width: 28vw;
}
.logodiv {
  background-color: white;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
}
.gitlogo {
  background-color: white;
  width: 40px;
}
.netlifylogo {
  background-color: white;
  width: 40px;
}
.gitlogo img :hover {
  bottom: 1px solid;
}
/* *************************************************************Media query******************************************************* */
@media (min-width: 700px) and (max-width: 800px) {
  #nav-menu > div:nth-child(2) {
    gap: 15px;
  }
  .resume {
    font-size: 14px;
    padding: 3px 5px;
  }
}
@media (min-width: 600px) and (max-width: 699px) {
  #nav-menu > div:nth-child(2) {
    gap: 15px;
  }
  .resume {
    font-size: 14px;
    padding: 3px 5px;
  }
  #nav-menu > div:nth-child(2) > p {
    font-size: 15px;
  }
  #nav-menu {
    padding: 10px 30px;
  }
}
@media (min-width: 550px) and (max-width: 600px) {
  #nav-menu > div:nth-child(2) {
    gap: 15px;
  }
  .resume {
    font-size: 14px;
    padding: 3px 5px;
  }
  #nav-menu > div:nth-child(2) > p {
    font-size: 15px;
  }
  #nav-menu {
    padding: 10px 30px;
  }
  #nav-menu h2 {
    font-size: 18px;
  }
  #intro h1 {
    color: rgb(102, 102, 102);
    font-size: 20px;
  }
  #intro h1 img {
    width: 20px;
  }
}

@media (min-width: 400px) and (max-width: 550px) {
  #nav-menu > div:nth-child(2) {
    gap: 10px;
  }
  .resume {
    font-size: 8px;
    padding: 3px 3px;
  }
  #nav-menu > div:nth-child(2) > p {
    font-size: 10px;
  }
  #nav-menu {
    padding: 10px 20px;
  }
  #nav-menu h2 {
    font-size: 15px;
  }
  #intro h1 {
    color: rgb(102, 102, 102);
    font-size: 15px;
  }
  #intro h1 img {
    width: 15px;
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  #home {
    height: 20vh;
  }
  #nav-menu > div:nth-child(2) {
    gap: 6px;
  }
  .resume {
    font-size: 6px;
    padding: 1px 1px;
  }
  #nav-menu > div:nth-child(2) > p {
    font-size: 8px;
  }
  #nav-menu {
    padding: 5px 5px;
  }
  #nav-menu h2 {
    font-size: 9px;
    align-self: center;
  }
  #intro h1 {
    color: rgb(102, 102, 102);
    font-size: 10px;
  }
  #intro h1 img {
    width: 20px;
  }
  #intro h1 img {
    width: 10px;
  }
}
